xml-resources/web-service-references/Service1/wsdl/localhost_49193/Service1.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/WebService" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://localhost/WebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio Prueba</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/WebService">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
   
      <s:element name="Autenticar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pas" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutenticarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Regiones">
        <s:complexType />
      </s:element>
      <s:element name="RegionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegionesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Comunas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idregion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComunasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ComunasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rut" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dv" type="s1:char" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sexo" type="s1:char" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_direccionparticular" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_comuna" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarClienteResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.w3.org/2001/XMLSchema">
  <s:element name="schema">
    <s:complexType>
      <s:sequence>
      <s:any namespace="##targetNamespace" processContents="lax" />
      </s:sequence>
      <s:anyAttribute processContents="lax"/>
    </s:complexType>
  </s:element>
</s:schema>
  </wsdl:types>
  <wsdl:message name="AutenticarSoapIn">
    <wsdl:part name="parameters" element="tns:Autenticar" />
  </wsdl:message>
  <wsdl:message name="AutenticarSoapOut">
    <wsdl:part name="parameters" element="tns:AutenticarResponse" />
  </wsdl:message>
  <wsdl:message name="RegionesSoapIn">
    <wsdl:part name="parameters" element="tns:Regiones" />
  </wsdl:message>
  <wsdl:message name="RegionesSoapOut">
    <wsdl:part name="parameters" element="tns:RegionesResponse" />
  </wsdl:message>
  <wsdl:message name="ComunasSoapIn">
    <wsdl:part name="parameters" element="tns:Comunas" />
  </wsdl:message>
  <wsdl:message name="ComunasSoapOut">
    <wsdl:part name="parameters" element="tns:ComunasResponse" />
  </wsdl:message>
  <wsdl:message name="registrarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:registrarCliente" />
  </wsdl:message>
  <wsdl:message name="registrarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:registrarClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServicePruebaSoap">
    <wsdl:operation name="Autenticar">
      <wsdl:input message="tns:AutenticarSoapIn" />
      <wsdl:output message="tns:AutenticarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Regiones">
      <wsdl:input message="tns:RegionesSoapIn" />
      <wsdl:output message="tns:RegionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Comunas">
      <wsdl:input message="tns:ComunasSoapIn" />
      <wsdl:output message="tns:ComunasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarCliente">
      <wsdl:input message="tns:registrarClienteSoapIn" />
      <wsdl:output message="tns:registrarClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServicePruebaSoap" type="tns:WebServicePruebaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Autenticar">
      <soap:operation soapAction="http://localhost/WebService/Autenticar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Regiones">
      <soap:operation soapAction="http://localhost/WebService/Regiones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Comunas">
      <soap:operation soapAction="http://localhost/WebService/Comunas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarCliente">
      <soap:operation soapAction="http://localhost/WebService/registrarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServicePruebaSoap12" type="tns:WebServicePruebaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Autenticar">
      <soap12:operation soapAction="http://localhost/WebService/Autenticar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Regiones">
      <soap12:operation soapAction="http://localhost/WebService/Regiones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Comunas">
      <soap12:operation soapAction="http://localhost/WebService/Comunas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarCliente">
      <soap12:operation soapAction="http://localhost/WebService/registrarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServicePrueba">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio Prueba</wsdl:documentation>
    <wsdl:port name="WebServicePruebaSoap" binding="tns:WebServicePruebaSoap">
      <soap:address location="http://localhost:49193/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicePruebaSoap12" binding="tns:WebServicePruebaSoap12">
      <soap12:address location="http://localhost:49193/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>